*{
    box-sizing: border-box;
    font-size:25px;
}



body{
    display: flex;
    justify-content: center;
    
}

.caja{
    display: flex;
    background-color: lightgrey;
    height: 580px;
    width: 350px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    border-radius: 10px;
}

button{
    height: 71px;
    width: 71px;
    border: 2px solid black;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    background-color: lightblue;
}

button:active{
    background-color: limegreen;
} 
.display{
    width:290px;
    height: 60px;
}

.result{
    width: 270px;
}