@import url('https://fonts.googleapis.com/css2?family=Star+Wars&display=swap');


#title, #may4{
    text-align: center;
    font-family: 'Star Wars', sans-serif;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.877);
}
