body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.secForm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  background-color: darkgreen;
}

.secEncabezado{
}
